<% @line_item.each do |item| %>
      <% @productid= item.product_id %>
      <% @product= @products.find(@productid)%>
<tr>
  <td>
    <%= image_tag @product.image.tiny, class: 'main-img' %>
  </td>

  <td>
    <h4><%= @product[:name] %></h4>
    <br>
    <p><%= @product.description %></p>
  </td>

  <td>
    <%= humanized_money_with_symbol @product.price %>
  </td>

  <td>
    <%= item.quantity %>
  </td>

  <td>
    <%= humanized_money_with_symbol @product.price * item.quantity %>
  </td>

  <% end %>
</tr>
